/* Event-Map Styles */
:root {
  --stateSelectionColor: #4a90e2;

  /* Event Marker */
  --eventMarkerColor: #487eca;
  --eventMarkerFillColor: #b6d0f7;
  --eventMarkerFillOpacity: 0.7;
}

.map-page {
  margin-top: 1rem;
}

.event-map {
  width: 100%;
  min-height: 400px;
  height: calc(100vh - 200px); /* Volle Höhe minus Header und Tabs */
  max-width: 900px;
  margin: 0 auto;
  border-radius: 18px;
  box-shadow: 0 2px 16px #b6d0f7a0;
  border: 1.5px solid #bdd0e6;
  z-index: 1;
  overflow: hidden;
}

.leaflet-container {
  width: 100% !important;
  height: 100% !important;
  border-radius: 18px;
  font-family: inherit;
}


