<div class="map-page"></div>
  <div class="map-weeks" id="mapWeeks">
    <div class="week-slide" style="background:#fff;color:#233748;">KW 17</div>
    <div class="week-slide" style="background:#b1e2cb;color:#204457;">KW 20</div>
    <div class="week-slide" style="background:#f7b1b1;color:#7d2323;">KW 22</div>
    <div class="week-slide" style="background:#e0eafc;color:#376287;">KW 24</div>
    <div class="week-slide" style="background:#fff;color:#233748;">KW 26</div>
    <div class="week-slide" style="background:#b1e2cb;color:#204457;">KW 28</div>
    <div class="week-slide" style="background:#f7b1b1;color:#7d2323;">KW 30</div>
    <div class="week-slide" style="background:#e0eafc;color:#376287;">KW 32</div>
    <div class="week-slide" style="background:#fff;color:#233748;">KW 34</div>
    <div class="week-slide" style="background:#b1e2cb;color:#204457;">KW 36</div>
    <div class="week-slide" style="background:#f7b1b1;color:#7d2323;">KW 38</div>
    <div class="week-slide" style="background:#e0eafc;color:#376287;">KW 40</div>
    <div class="week-slide" style="background:#fff;color:#233748;">KW 42</div>
    <div class="week-slide">
      <a href="/event-submit.html" style="display:inline-block;padding:0.5em 1.2em;background:#204457;color:#fff;border-radius:6px;font-weight:600;text-decoration:none;font-size:1.1em;box-shadow:0 2px 8px #0001;">Neues Event eintragen</a>
    </div>
  </div>
  <div id="map" class="event-map"></div>
  <section id="event-info" class="event-info" style="display:none;"></section>
</div>