<div class="map-page">
  <h2 style="text-align:center;margin:1em 0 .5em;">CSD-Termine in Ostdeutschland</h2>
  <div class="map-weeks" id="mapWeeks">
    <div class="week-slide" style="background:#fff;color:#233748;">KW 17</div>
    <div class="week-slide" style="background:#b1e2cb;color:#204457;">KW 20</div>
    <div class="week-slide" style="background:#f7b1b1;color:#7d2323;">KW 22</div>
    <div class="week-slide" style="background:#e0eafc;color:#376287;">KW 24</div>
    <div class="week-slide" style="background:#fff;color:#233748;">KW 26</div>
    <div class="week-slide" style="background:#b1e2cb;color:#204457;">KW 28</div>
    <div class="week-slide" style="background:#f7b1b1;color:#7d2323;">KW 30</div>
    <div class="week-slide" style="background:#e0eafc;color:#376287;">KW 32</div>
    <div class="week-slide" style="background:#fff;color:#233748;">KW 34</div>
    <div class="week-slide" style="background:#b1e2cb;color:#204457;">KW 36</div>
    <div class="week-slide" style="background:#f7b1b1;color:#7d2323;">KW 38</div>
    <div class="week-slide" style="background:#e0eafc;color:#376287;">KW 40</div>
    <div class="week-slide" style="background:#fff;color:#233748;">KW 42</div>
  </div>
  <div id="map" class="event-map"></div>
  <section id="event-info" class="event-info" style="display:none;"></section>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<link rel="stylesheet" href="{{ "css/event-map.css" | relURL }}">
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{{ "js/event-map.js" | relURL }}"></script>
